# Sanity: Project Settings -> API -> project id & dataset name
PUBLIC_SANITY_PROJECT_ID=
PUBLIC_SANITY_DATASET=production

# Optional; default in code is 2024-01-01
# PUBLIC_SANITY_API_VERSION=2024-01-01
