.reciepe-name {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.reciepe-alcohol {
  /* position: absolute;
  right: 0; */
  height: 24px;
  /* width: 24px; */
  font-size: 16px;
  padding: 0 4px;
  color: #aaa;
  text-align: center;
  line-height: 20px;
  /* border-radius: 4px; */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border-width: 2px;
  border-style: solid;
  /* background: #000; */
}

.reciepe-alcohol.low {
  border-color: rgb(66, 167, 1);
  color: #eee;
}

.reciepe-alcohol.lowMedium {
  border-color: hsl(67, 99%, 45%);
  /* background: hsl(75, 100%, 43%); */
  /* border: 1px solid hsl(67, 99%, 45%); */
  /* background: hsl(67, 99%, 45%); */
}

.reciepe-alcohol.medium {
  /* background: rgb(255, 192, 0); */
  border-color: rgb(255, 192, 0);
  /* border: 1px solid rgb(255, 192, 0); */
  /* color: #333; */
}

.reciepe-alcohol.mediumHigh {
  /* background: hsl(27, 79%, 48%); */
  border-color: hsl(27, 79%, 48%);
  /* border: 1px solid hsl(27, 79%, 48%); */
  /* color: #eee; */
}

.reciepe-alcohol.high {
  /* background: hsl(11, 99%, 40%); */
  border-color: hsl(11, 99%, 40%);
  /* border: 1px solid hsl(11, 99%, 40%); */
}

.method-and-glass {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.reciepe-method,
.reciepe-glass {
  font-size: 18px;
  text-align: center;
  letter-spacing: 1px;
}

.reciepe-ing {
  font-size: 18px;
  font-weight: 500;
  margin: 20px auto 10px;
  text-align: center;
}

.reciepe-ing > div {
  display: flex;
  justify-content: space-between;
}

/* .reciepe-ing > div:first-child {
  width: 60%;
}

.reciepe-ing > div:last-child {
  width: 40%;
} */

/* .reciepe-glass {

} */