.cocktail__outer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.cocktail__frame {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 15px 0;
}

.cocktail__ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cocktail__image {
  width: 54px;
  min-width: 54px;
  background: #fff;
  border-radius: 6px;
  &--left {
    height: 84px;
  }
  &--right {
    position: absolute;
    right: 74px;
    height: 84px;
  }
}

.cocktail__main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cocktail__name {
  display: flex;
  align-items: flex-end;
  gap: 5px;

  & > .cocktail__cht {
    font-size: 20px;
    line-height: 26px;
    // font-weight: bold;
  }

  & > .cocktail__eng {
    font-size: 18px;
    color: #aaa;
  }
}

.cocktail__stars {
  position: absolute;
  right: 0;
  display: inline-flex;
  align-items: center;
  height: 20px;
  padding: 2px 6px;
  font-size: 14px;
  color: #333;
  // background: rgba(255, 255, 255, 0.3);
  background: #888;
  border-radius: 5px;
}

.cocktail__ingredients {
  font-size: 16px;
  color: #aaa;
  &--ch {
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #999;
  }
}

.cocktail__ingredients::first-letter {
  text-transform: capitalize;
}
