---
type Props = {
  title?: string;
  description?: string;
};

import "../styles/global.css";

const {
  title = "The Mixology Nook",
  description = "Welcome to The Mixology Nook, your destination for all things home bar! Cheers to creating unforgettable moments, one drink at a time!",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- <link rel="manifest" href="/manifest.json" /> -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Mixology" />
    <meta name="theme-color" content="#2e2e2e" />
  </head>
  <body>
    <slot />
  </body>
</html>
